<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>156556297832-02s9gme1georv4dmgsosvvdjrbpsdm5b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.156556297832-02s9gme1georv4dmgsosvvdjrbpsdm5b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>156556297832-td4oaoqr2m60nglitnauac9lpsps3pd3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCKrCPEtlvv02uEPWkN4KR6yhLD76UmTRg</string>
	<key>GCM_SENDER_ID</key>
	<string>156556297832</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.marketplace.fabapp</string>
	<key>PROJECT_ID</key>
	<string>fabclassified-ff593</string>
	<key>STORAGE_BUCKET</key>
	<string>fabclassified-ff593.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:156556297832:ios:e78e3ecd37184da6b85ddd</string>
</dict>
</plist>